name: Checks

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 1' # 6am every Monday

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ['2.4', '2.5', '2.6', '2.7', '3.0', '3.1', '3.2', '3.3', '3.4']
        rubocop: ['0.90.0', '< 1.0', '1.0.0', '1.29.1', '1.30.0', '1.38.0', '< 2.0']
        exclude:
          - ruby: '2.4'
            rubocop: '1.29.1'
          - ruby: '2.4'
            rubocop: '1.30.0'
          - ruby: '2.4'
            rubocop: '1.38.0'
          - ruby: '2.5'
            rubocop: '1.29.1'
          - ruby: '2.5'
            rubocop: '1.30.0'
          - ruby: '2.5'
            rubocop: '1.38.0'
      fail-fast: false
    steps:
    - uses: actions/checkout@v4
    - name: use specific rubocop version
      run: echo "gem 'rubocop', '${{ matrix.rubocop }}'" > Gemfile.local
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: rake spec
      run: bundle exec rake spec
